*{
	padding:0;
	margin:0;
}
body {
	background-image: url(../imagens/wallpaper.jpg);
	width: 100%;
	background-repeat:no-repeat;
	justify-content:center;
}
.cabecalho{
	height:50px;
	font-size:30px;
	color:#a70000;
	background-color:#1C304D;
	text-align:center;	
}
.menu{
	width:100%;
	height:60px;
	overflow:hidden;
	background-color:#2C344D;
	padding-left:0px;
	color:#fff;
	font-size:20px;
}
.menu ul{
   margin:0px;
   width:100%;
   background-color:#2C344D;
   list-style: none;
   /* position:absolute;*/
   display:flex;
   justify-content:center;
}
.menu li{
  float:left;
  padding:15px;
}
.texto{
	width:800px;
	margin-left:200px;
	margin-top:100px;
	color:#fff;
	text-align:center;	
}
h1{
	color:red;
}
.img1{
	padding-top:100px;
	padding-left:100px;
	right:100px;
	
}
.mae{
	display:flex;
}
.texto2{
	background-color:rgba(0,0,0,0.5);
	width:818px;
	height:240px;
	margin-left:200px;
	color:fff;	
}
h2{
	color:red;
}
